#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  position: absolute;
  top: 100px;
  left: 100px;
  padding: 2em;
  z-index: 100;
  background-color: #ffffff;
}
